<%- include('head/headerA') %>

  <h1 class="h3 mb-3 font-weight-normal">Evénements déjà créées :</h1>
  <a href="/admin/events/createEvent" class="btn btn-primary">Ajouter un événement</a>
  <div class="row">
    <% for (event of events) {%>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="/images/<%= event.photo %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= event.libelleEvent %></h5>
            <a href="/admin/events/summaryEventAdmin/<%= event.idEvent %>" class="btn btn-primary">Modifier</a>
            <a href="/admin/events/delete/<%= event.idEvent %>" class="btn btn-danger">Supprimer</a>
          </div>
        </div>
      </div>
    <% } %>

    </div>
</body>


</html>
