<%- include('header') %>
<body>
  <h1><%= event[0].libelleEvent %> :</h1>
  <table>
    <tr>
      <td><p><%= event[0].nbMaxParticipant %></p></td>
    </tr>
    <tr>
      <td><p><%= event[0].dateEvent %></p></td>
    </tr>
    <tr>
      <td><p><%= event[0].dateFinInscr %></p></td>
    </tr>
    <tr>
      <td><p><%= event[0].photo %></p></td>
    </tr>
    <tr>
      <td><p><%= event[0].photo %></p></td>
    </tr>
  </table>
</body>
</html>
